<!DOCTYPE html>
<html>
<head>
    <title>My Store</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

<h1>My Online Store</h1>

<div class="product-grid">

{% for p in products %}

<div class="product">

<h2>{{ p.name }}</h2>

<p>$ {{ p.price }}</p>

<button onclick="add_product_to_cart('{{p.id}}')">
Buy
</button>

</div>

{% endfor %}

</div>

<script>

function add_product_to_cart() {

    fetch('/add_product_to_cart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ product: "tshirt" })
    })
    .then(response => response.json())
    .then(data => alert(data.message));

}

</script>

</body>
</html>